{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
</head>
<body>
<h1>Hello World !</h1>
<p>
    <a href="{{ path('oc_platform_view', { 'id': 5 }) }}">
        Lien vers l'annonce d'id {{ 5 }}
    </a>
    </a>
</p>
</body>
</html>